body {
  display: flex;
  flex-direction: column;
  height: 300vh;
  padding: 0;
  margin: 0;
  background-color: rgb(230, 255, 0)
}

section {
  display: flex;
  height: 100vh;
  width: auto;
}

h1 {
  font-family: 'Anton', sans-serif;
}

#landing {
  color: rgb(84, 84, 255);
  background: url('images/bg/selfie.png') bottom left no-repeat;
}

#portfolio {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,8fd9f7+100 */
  background: #7db9e8; /* Old browsers */
  background: linear-gradient(135deg, #7db9e8 0%,#8fd9f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#contact {
  background-color: #fcf;
}
